{% extends "MyCoreBundle::layout.html.twig" %}

{% block title %}
    PureThink - File Browse
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
        '@MyBackendBundle/Resources/public/css/plugins/jquery.qtip.css'
        '@MyBackendBundle/Resources/public/less/purethink.less'
        filter='less,cssrewrite,uglifycss'
        output='css/fileBrowse.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {% javascripts
        '@jquery_ui'
        '@underscore'
        '@backbone'
        '@helper'
        '@MyBackendBundle/Resources/public/js/plugin/jquery.qtip.js'
        '@MyBackendBundle/Resources/public/js/plugin/jquery.multidrag.table.js'
        '@MyBackendBundle/Resources/public/js/model/pagination.model.js'
        '@MyBackendBundle/Resources/public/js/model/list.model.js'
        '@MyBackendBundle/Resources/public/js/view/pagination.view.js'
        '@MyBackendBundle/Resources/public/js/view/list.view.js'
        '@MyBackendBundle/Resources/public/js/select.js'
        '@MyFileBundle/Resources/public/js/fileBrowse.js'
        filter="uglifyjs2"
        output='js/fileBrowse.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}

{% block body %}
    {{ parent() }}

    <div id="file_browse">
        <div id="file_borwse_list"></div>
        <div id="file_borwse_footer">
            <div id="file_borwse_pagination">
                {% include 'MyBackendBundle:Default:_pagination.html.twig' %}
            </div>
        </div>
    </div>
{% endblock body %}