{% extends "::base.html.twig" %}

{% block title %}
    PureThink - File Browse
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/plugins/font-awesome.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/plugins/jquery.qtip.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/purethink.css') }}">
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/lib/jquery-2.0.3.js') }}"></script>
    <script src="{{ asset('js/lib/underscore.js') }}"></script>
    <script src="{{ asset('js/lib/backbone.js') }}"></script>
    <script src="{{ asset('js/plugins/jquery.qtip.js') }}"></script>
    <script src="{{ asset('js/model/pagination.model.js') }}"></script>
    <script src="{{ asset('js/view/pagination.view.js') }}"></script>
    <script src="{{ asset('js/model/list.model.js') }}"></script>
    <script src="{{ asset('js/view/list.view.js') }}"></script>
    <script src="{{ asset('js/select.js') }}"></script>
    <script src="{{ asset('js/helper.js') }}"></script>
    <script src="{{ asset('js/links.js') }}"></script>
    <script src="{{ asset('js/fileBrowse.js') }}"></script>
{% endblock javascripts %}

{% block body %}
    <div id="file_browse">
        <div id="file_borwse_list"></div>
        <div id="file_borwse_footer">
            <div id="file_borwse_pagination">
                {% include 'MyBackendBundle:Default:_pagination.html.twig' %}
            </div>
        </div>
    </div>
{% endblock body %}