<div class="top-menu">
    <div class="user-container">
        {% if app.user is not null %}
            <span>Witaj <a class="user-name" href="{{ path('fos_user_profile_show') }}">{{ app.user.firstName~" "~app.user.lastName }}</a></span>
            {% if is_granted('ROLE_ADMIN') %}
                <a class="admin" href="{{ path('admin') }}">Admin</a>
            {% endif %}
            <a class="logout" href="{{ path('fos_user_security_logout') }}">Wyloguj</a>
        {% else %}
            <a href="{{ path('fos_user_registration_register') }}">Rejestracja</a>
            <a href="{{ path('fos_user_security_login') }}">Logowanie</a>
        {% endif %}
    </div>

    {{ sonata_block_render({ "type": "purethink.cms.block.language", "settings": {
        "locale": locale
    } }) }}
</div>