{% extends "PurethinkCMSBundle:Frontend:layout.html.twig" %}

{% block keywords %}
    {{ article.SEOData.keyword|default(parent()) }}
{% endblock keywords %}

{% block description %}
    {{ article.SEOData.description|default(parent()) }}
{% endblock description %}

{% block title %}
    {{ article.SEOData.title|default(parent()) }}
{% endblock title %}

{% block body %}
    {{ parent() }}

    <div id="article">
        <div class="container">
            {{ sonata_block_render({ "type": "purethink.cms.block.article", "settings": {
                "slug": article.slug
            } }) }}
        </div>
    </div>

    {{ sonata_block_render({ "type": "purethink.cms.block.component", "settings": {
        "template": "PurethinkCMSBundle:Frontend:_link.html.twig",
        "slug": "linki",
        "locale": locale
    } }) }}

    {% include 'PurethinkCMSBundle:Frontend:_footer.html.twig' with {'local': locale} %}
{% endblock body %}