{% extends "PurethinkCoreBundle::layout.html.twig" %}

{% block keywords %}
    {{ meta.SEOData.keyword|default(parent()) }}
{% endblock keywords %}

{% block description %}
    {{ meta.SEOData.description|default(parent()) }}
{% endblock description %}

{% block title %}
    {{ meta.SEOData.title|default(parent()) }}
{% endblock title %}

{% block icon %}
    {% if template.icon is not null %}
        <link rel="icon" type="image/x-icon" href="{{ asset('template/'~template.slug~'/'~template.icon) }}" />
    {% else %}
        <link rel="icon" type="image/x-icon" href="{{ asset('purethink.ico') }}" />
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
        '@PurethinkCoreBundle/Resources/public/css/plugin/bootstrap.css'
        '@PurethinkCMSBundle/Resources/public/css/article.css'
        '@FOSCommentBundle/Resources/assets/css/comments.css'
        filter='less,cssrewrite,uglifycss'
        output='css/article.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

    {% for templateStyle in template.styles %}
        <link rel="stylesheet" type="text/css" href="{{ asset('template/'~template.slug~'/css/'~templateStyle) }}">
    {% endfor %}

    {% if layout is not null %}
        {% for layoutStyle in layout.styles %}
            <link rel="stylesheet" type="text/css" href="{{ asset('template/'~layout.template.slug~'/css/'~layoutStyle) }}">
        {% endfor %}
    {% endif %}
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@PurethinkCoreBundle/Resources/public/js/plugin/bootstrap.js'
        '@PurethinkCMSBundle/Resources/public/js/cookies.js'
        filter="?uglifyjs2"
        output='js/frontend.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% for templateScript in template.scripts %}
        <script src="{{ asset('template/'~template.slug~'/js/'~templateScript) }}"></script>
    {% endfor %}

    {% if layout is not null %}
        {% for layoutScript in layout.scripts %}
            <script src="{{ asset('template/'~layout.template.slug~'/js/'~layoutScript) }}"></script>
        {% endfor %}
    {% endif %}
{% endblock javascripts %}

{% block body %}
    {{ parent() }}

    {{ sonata_block_render({ "type": "purethink.cms.block.component", "settings": {
        "template": "PurethinkCMSBundle:Frontend:_cookie.html.twig",
        "slug": "cookie",
        "locale": locale
    } }) }}

    <div id="top">
        <div class="container">
            <div id="logo">
                <a href="{{ path('localized_frontend', {'locale': locale}) }}">
                    <img src="{{ asset('template/purethink-standard/images/logo.png') }}" alt="logo" />
                </a>
            </div>

            {% include 'PurethinkCMSBundle:Frontend:_topmenu.html.twig' with {'locale': locale} %}
        </div>
    </div>

    <div id="main_menu">
        <div class="container">
            {{ sonata_block_render({ "type": "purethink.cms.block.menu", "settings": {
                "name": "Main",
                "locale": locale,
                "home": true
            } }) }}

            {{ render(controller('PurethinkCMSBundle:Frontend:search')) }}
        </div>
    </div>
{% endblock body %}