{% extends "::base.html.twig" %}

{% block title %}
	PureThink - Admin
{% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
{% endblock stylesheets %}

{% block javascripts %}
	<script src="{{ asset('js/plugins/jquery-2.0.3.min.js') }}"></script>
	<script src="{{ asset('js/plugins/jquery.accordion.menu.js') }}"></script>
	<script src="{{ asset('js/userSetting.js') }}"></script>
	<script src="{{ asset('js/main.js') }}"></script>
	<script src="{{ asset('js/rowsOnPage.js') }}"></script>
	<script src="{{ asset('js/mainMenu.js') }}"></script>
	<script src="{{ asset('js/leftMenu.js') }}"></script>
	<script src="{{ asset('js/list.js') }}"></script>
{% endblock javascripts %}

{% block body %}
    <div id="top_menu">
    	{% include 'MyBackendBundle:Default:_top_menu.html.twig' %}
	</div>

	<div id="main_menu">
		{% include 'MyBackendBundle:Default:_main_menu.html.twig' with { 'modules': modules } %}
	</div>

	<div id="main_button">
		{% include 'MyBackendBundle:Default:_main_button.html.twig' %}
	</div>

	<div id="main_line"></div>

	<div id="left_menu">
		<ul id="left_menu_container"></ul>
		<div id="author">
			<span>&copy; 2013 <a target="_blank" href="#">ArtCreation</a></span>
			<span><a href="#">Pomoc</a></span>
		</div>
	</div>

	<div id="main">
		<div id="main_container">

		</div>
	</div>

	<div id="footer">
		<div id="left_menu_toggle"></div>

		{% include 'MyBackendBundle:Default:_footer.html.twig' %}
	</div>
{% endblock body %}