{% extends "::base.html.twig" %}

{% block title %}
	PureThink - Admin
{% endblock title %}

{% block stylesheets %}
	{{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/plugins/chosen.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/plugins/jquery.qtip.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/purethink.css') }}">
{% endblock stylesheets %}

{% block javascripts %}
    {% javascripts
        '@jquery'
        '@jquery_ui'
        '@underscore'
        '@backbone'
        '@helper'
        '@MyBackendBundle/Resources/public/js/plugin/*'
        '@MyBackendBundle/Resources/public/js/model/*'
        '@MyBackendBundle/Resources/public/js/view/*'
        '@MyBackendBundle/Resources/public/js/*'
        filter="uglifyjs2"
        output='js/compiled/backend.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}

{% block body %}
    <div id="top_menu">
    	{% include 'MyBackendBundle:Default:_top_menu.html.twig' %}
	</div>

	<div id="main_menu">
		{% include 'MyBackendBundle:Default:_main_menu.html.twig' with { 'modules': modules } %}
	</div>

	<div id="main_button">
		{% include 'MyBackendBundle:Default:_main_button.html.twig' %}
	</div>

	<div id="main_line"></div>

	<div id="left_menu">
		<ul id="left_menu_container"></ul>
		<div id="author">
			<span>&copy; 2013 <a target="_blank" href="#">ArtCreation</a></span>
			<span><a href="#">Pomoc</a></span>
		</div>
	</div>

	<div id="main">
		<div id="main_container"></div>
		<div id="edit_container"></div>
	</div>

	<div id="footer">
		<div id="left_menu_toggle"></div>

		{% include 'MyBackendBundle:Default:_footer.html.twig' %}
	</div>
{% endblock body %}