{% extends "::base.html.twig" %}

{% block title %}
	PureThink - Admin
{% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
{% endblock stylesheets %}

{% block javascripts %}
	<script src="{{ asset('js/plugins/jquery-2.0.3.min.js') }}"></script>
	<script src="{{ asset('js/main.js') }}"></script>
	<script src="{{ asset('js/mainMenu.js') }}"></script>
{% endblock javascripts %}

{% block body %}
    <div id="top_menu">
    	{% include 'MyBackendBundle:Default:_top_menu.html.twig' %}
	</div>

	<div id="main_menu">
		{% include 'MyBackendBundle:Default:_main_menu.html.twig' %}
	</div>

	<div id="main_button">
		{% include 'MyBackendBundle:Default:_main_button.html.twig' %}
	</div>

	<div id="main_line"></div>
	
	<div id="left_menu">
		<ul id="left_menu_container">
			{% include 'MyBackendBundle:Default:_left_menu.html.twig' %}
		</ul>
	</div>
	
	<div id="main">
		<div id="main_container">
			<table>
				<thead>
					<tr>
						<th class="select"></th>
						<th class="lp">ID</th>
						<th class="width_big">Nazwa<img class="order" src="{{ asset('images/arrow_down_black.png') }}" alt="order" /></th>
						<th class="width_small">Aktywne</th>
						<th class="width_small">Publikacja od</th>
						<th class="width_small">Publikacja do</th>
						<th class="width_small">Data utworzenia</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="select"><input type="checkbox" class="multi_check" /></td>
						<td class="lp">1.</td>
						<td class="width_big"><a href="#">Lorem ipsum dolor sit amet, consectetur</a></td>
						<td class="width_small">
							<img class="active" src="{{ asset('images/active.png') }}" alt="active" />
						</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
					</tr>
					<tr>
						<td class="select"><input type="checkbox" class="multi_check" /></td>
						<td class="lp">2.</td>
						<td class="width_big"><a href="#">Lorem ipsum dolor sit amet, consectetur</a></td>
						<td class="width_small">
							<img class="active" src="{{ asset('images/active.png') }}" alt="active" />
						</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
					</tr>
					<tr>
						<td class="select"><input type="checkbox" class="multi_check" /></td>
						<td class="lp">3.</td>
						<td class="width_big"><a href="#">Lorem ipsum dolor sit amet, consectetur</a></td>
						<td class="width_small">
							<img class="active" src="{{ asset('images/active.png') }}" alt="active" />
						</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
					</tr>
					<tr>
						<td class="select"><input type="checkbox" class="multi_check" /></td>
						<td class="lp">4.</td>
						<td class="width_big"><a href="#">Lorem ipsum dolor sit amet, consectetur</a></td>
						<td class="width_small">
							<img class="active" src="{{ asset('images/active.png') }}" alt="active" />
						</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
					</tr>
					<tr>
						<td class="select"><input type="checkbox" class="multi_check" /></td>
						<td class="lp">5.</td>
						<td class="width_big"><a href="#">Lorem ipsum dolor sit amet, consectetur</a></td>
						<td class="width_small">
							<img class="active" src="{{ asset('images/active.png') }}" alt="active" />
						</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
					</tr>
					<tr>
						<td class="select"><input type="checkbox" class="multi_check" /></td>
						<td class="lp">6.</td>
						<td class="width_big"><a href="#">Lorem ipsum dolor</a></td>
						<td class="width_small">
							<img class="active" src="{{ asset('images/active.png') }}" alt="active" />
						</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
					</tr>
					<tr>
						<td class="select"><input type="checkbox" class="multi_check" /></td>
						<td class="lp">7.</td>
						<td class="width_big"><a href="#">Lorem ipsum dolor sit amet, consectetur</a></td>
						<td class="width_small">
							<img class="active" src="{{ asset('images/active.png') }}" alt="active" />
						</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
					</tr>
					<tr>
						<td class="select"><input type="checkbox" class="multi_check" /></td>
						<td class="lp">8.</td>
						<td class="width_big"><a href="#">Lorem ipsum dolor sit</a></td>
						<td class="width_small">
							<img class="active" src="{{ asset('images/active.png') }}" alt="active" />
						</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
					</tr>
					<tr>
						<td class="select"><input type="checkbox" class="multi_check" /></td>
						<td class="lp">9.</td>
						<td class="width_big"><a href="#">Lorem ipsum dolor sit amet</a></td>
						<td class="width_small">
							<img class="active" src="{{ asset('images/active.png') }}" alt="active" />
						</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
					</tr>
					<tr>
						<td class="select"><input type="checkbox" class="multi_check" /></td>
						<td class="lp">10.</td>
						<td class="width_big"><a href="#">Lorem ipsum</a></td>
						<td class="width_small">
							<img class="deactive" src="{{ asset('images/deactive.png') }}" alt="deactive" />
						</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
					</tr>
					<tr>
						<td class="select"><input type="checkbox" class="multi_check" /></td>
						<td class="lp">11.</td>
						<td class="width_big"><a href="#">Lorem ipsum dolor</a></td>
						<td class="width_small">
							<img class="active" src="{{ asset('images/active.png') }}" alt="active" />
						</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
					</tr>
					<tr>
						<td class="select"><input type="checkbox" class="multi_check" /></td>
						<td class="lp">12.</td>
						<td class="width_big"><a href="#">Lorem ipsum dolor sit amet, consectetur</a></td>
						<td class="width_small">
							<img class="active" src="{{ asset('images/active.png') }}" alt="active" />
						</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
					</tr>
					<tr>
						<td class="select"><input type="checkbox" class="multi_check" /></td>
						<td class="lp">13.</td>
						<td class="width_big"><a href="#">Lorem ipsum dolor sit</a></td>
						<td class="width_small">
							<img class="active" src="{{ asset('images/active.png') }}" alt="active" />
						</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
					</tr>
					<tr>
						<td class="select"><input type="checkbox" class="multi_check" /></td>
						<td class="lp">14.</td>
						<td class="width_big"><a href="#">Lorem ipsum dolor sit amet</a></td>
						<td class="width_small">
							<img class="active" src="{{ asset('images/active.png') }}" alt="active" />
						</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
					</tr>
					<tr>
						<td class="select"><input type="checkbox" class="multi_check" /></td>
						<td class="lp">15.</td>
						<td class="width_big"><a href="#">Lorem ipsum dolor sit amet, consectetur</a></td>
						<td class="width_small">
							<img class="deactive" src="{{ asset('images/deactive.png') }}" alt="deactive" />
						</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
					</tr>
					<tr>
						<td class="select"><input type="checkbox" class="multi_check" /></td>
						<td class="lp">16.</td>
						<td class="width_big"><a href="#">Lorem ipsum dolor</a></td>
						<td class="width_small">
							<img class="active" src="{{ asset('images/active.png') }}" alt="active" />
						</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
					</tr>
					<tr>
						<td class="select"><input type="checkbox" class="multi_check" /></td>
						<td class="lp">17.</td>
						<td class="width_big"><a href="#">Lorem ipsum dolor sit amet, consectetur</a></td>
						<td class="width_small">
							<img class="active" src="{{ asset('images/active.png') }}" alt="active" />
						</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
					</tr>
					<tr>
						<td class="select"><input type="checkbox" class="multi_check" /></td>
						<td class="lp">18.</td>
						<td class="width_big"><a href="#">Lorem ipsum</a></td>
						<td class="width_small">
							<img class="active" src="{{ asset('images/active.png') }}" alt="active" />
						</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
					</tr>
					<tr>
						<td class="select"><input type="checkbox" class="multi_check" /></td>
						<td class="lp">19.</td>
						<td class="width_big"><a href="#">Lorem ipsum dolor sit amet, consectetur</a></td>
						<td class="width_small">
							<img class="active" src="{{ asset('images/active.png') }}" alt="active" />
						</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
					</tr>
					<tr>
						<td class="select"><input type="checkbox" class="multi_check" /></td>
						<td class="lp">20.</td>
						<td class="width_big"><a href="#">Lorem ipsum dolor sit amet, consectetur</a></td>
						<td class="width_small">
							<img class="active" src="{{ asset('images/active.png') }}" alt="active" />
						</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
						<td class="width_small">2013-04-23</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div id="footer">
		{% include 'MyBackendBundle:Default:_footer.html.twig' %}
	</div>
{% endblock body %}