{% extends "::base.html.twig" %}

{% block title %}
	PureThink - Admin
{% endblock title %}

{% block stylesheets %}
	{{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/plugins/chosen.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/edit.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/top_menu.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main_menu.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/left_menu.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main_list.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main_button.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/notify.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/footer.css') }}">
{% endblock stylesheets %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/plugins/jquery.accordion.menu.js') }}"></script>
	<script src="{{ asset('js/plugins/jquery.dynamic.menu.js') }}"></script>
    <script src="{{ asset('js/plugins/chosen.jquery.js') }}"></script>
	<script src="{{ asset('js/userSetting.js') }}"></script>
	<script src="{{ asset('js/edit.js') }}"></script>
	<script src="{{ asset('js/notify.js') }}"></script>
	<script src="{{ asset('js/main.js') }}"></script>
	<script src="{{ asset('js/rowsOnPage.js') }}"></script>
	<script src="{{ asset('js/mainMenu.js') }}"></script>
	<script src="{{ asset('js/leftMenu.js') }}"></script>
	<script src="{{ asset('js/mainButton.js') }}"></script>
    <script src="{{ asset('js/pagination.js') }}"></script>
	<script src="{{ asset('js/list.js') }}"></script>
{% endblock javascripts %}

{% block body %}
    <div id="top_menu">
    	{% include 'MyBackendBundle:Default:_top_menu.html.twig' %}
	</div>

	<div id="main_menu">
		{% include 'MyBackendBundle:Default:_main_menu.html.twig' with { 'modules': modules } %}
	</div>

	<div id="main_button">
		{% include 'MyBackendBundle:Default:_main_button.html.twig' %}
	</div>

	<div id="main_line"></div>

	<div id="left_menu">
		<ul id="left_menu_container"></ul>
		<div id="author">
			<span>&copy; 2013 <a target="_blank" href="#">ArtCreation</a></span>
			<span><a href="#">Pomoc</a></span>
		</div>
	</div>

	<div id="main">
		<div id="main_container"></div>
		<div id="edit_container"></div>
	</div>

	<div id="footer">
		<div id="left_menu_toggle"></div>

		{% include 'MyBackendBundle:Default:_footer.html.twig' %}
	</div>
{% endblock body %}