{% trans_default_domain 'FOSUserBundle' %}

<div id="login_container">
    <div id="login">
        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
            {{ form_start(form) }}
                {{ form_errors(form) }}

                {{ form_row(form.username) }}
                {{ form_row(form.firstName) }}
                {{ form_row(form.lastName) }}
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword.first) }}
                {{ form_row(form.plainPassword.second) }}

            <div id="submit_container">
                <input type="submit" id="_submit" value="{{ 'registration.submit'|trans }}" />
            </div>
            {{ form_end(form) }}
        </form>
    </div>

    <ul class="links">
        <li><a href="{{ path("fos_user_security_login") }}">Wróć na stronę logowania</a></li>
        <li><a href="{{ path("frontend") }}">Wróć na stronę główną</a></li>
    </ul>
</div>
