{{ form_widget(form._token) }}

<div class="dane_element">
    {{ form_row(form.name) }}
</div>

<div class="dane_element">
    {{ form_row(form.columnType) }}
</div>

<div class="dane_element">
    {{ form_row(form.columnLabel) }}
</div>

<div class="dane_element">
    {{ form_row(form.class) }}
</div>

<div class="dane_element">
    {{ form_row(form.isRequired) }}
</div>