{{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="dane_element">
        {{ form_row(form.username, { 'attr': { 'class': 'name' } }) }}
    </div>

    <div class="dane_element">
        {{ form_row(form.email) }}
    </div>

    <div class="dane_element">
        {{ form_row(form.firstName) }}
    </div>

    <div class="dane_element">
        {{ form_row(form.lastName) }}
    </div>

    <div class="dane_element">
        {{ form_row(form.plainPassword.first) }}
    </div>

    <div class="dane_element">
        {{ form_row(form.plainPassword.second) }}
    </div>

    <div class="dane_element">
        {{ form_row(form.groups) }}
    </div>

{{ form_end(form) }}