{{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="dane_element">
        {{ form_row(form.name) }}
    </div>

    <div class="dane_element">
        <div class="dane_element_medium">
            {{ form_row(form.series) }}
        </div>

        <div class="dane_element_medium margin_right_off">
            {{ form_row(form.language) }}
        </div>
    </div>

    <div class="dane_element_big">
        {{ form_row(form.content) }}
    </div>

    <div class="dane_element_big">
        {{ form_row(form.metadata.title) }}
    </div>

    <div class="dane_element_big">
        {{ form_row(form.metadata.description) }}
    </div>

    <div class="dane_element_big">
        {{ form_row(form.metadata.keyword) }}
    </div>

{{ form_end(form) }}