{{ form_widget(form._token) }}

<div class="dane_element">
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
    {{ form_errors(form.name) }}
</div>

<div class="dane_element">
    {{ form_label(form.slug) }}
    {{ form_widget(form.slug) }}
    {{ form_errors(form.slug) }}
</div>

<div class="dane_element">
    <div class="dane_element_medium">
        {{ form_label(form.series) }}
        {{ form_widget(form.series) }}
        {{ form_errors(form.series) }}
    </div>

    <div class="dane_element_medium margin_right_off">
        {{ form_label(form.language) }}
        {{ form_widget(form.language) }}
        {{ form_errors(form.language) }}
    </div>
</div>

<div class="dane_element_big">
    {{ form_label(form.content) }}
    {{ form_widget(form.content) }}
    {{ form_errors(form.content) }}
</div>

<div class="dane_element_big">
    {{ form_label(form.description) }}
    {{ form_widget(form.description) }}
    {{ form_errors(form.description) }}
</div>

<div class="dane_element_big">
    {{ form_label(form.keywords) }}
    {{ form_widget(form.keywords) }}
    {{ form_errors(form.keywords) }}
</div>