{{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="dane_element">
        {{ form_row(form.name) }}
    </div>

    <div class="dane_element">
        {{ form_row(form.author) }}
    </div>

    <div class="dane_element">
        {{ form_row(form.series) }}
    </div>

{{ form_end(form) }}