<ul>
    {% if home %}
        <li>
            <a href="{{ path('localized_frontend', {'locale': locale}) }}">Home</a>
        </li>
    {% endif %}
    {% for menu in entities %}
        <li class="{{ menu['childrens'] is defined ? 'has_submenu' : '' }}">
            {% set slug = menu['parent'].article.slug  %}

            {% if (slug2 is defined) %}
                <a {{ menu['parent'].isNewPage ? 'target="_blank"' : '' }} href="{{ path('article', {'locale': locale, 'slug': slug2, 'slug2': slug}) }}">{{ menu['parent'] }}</a>
            {% else %}
                <a {{ menu['parent'].isNewPage ? 'target="_blank"' : '' }} href="{{ path('article', {'locale': locale, 'slug': slug}) }}">{{ menu['parent'] }}</a>
            {% endif %}

            {% if menu['childrens'] is defined %}
                {% include 'MyCMSBundle:CMSFrontend:_menu.html.twig' with { 'entities': menu['childrens'], 'locale': locale, 'home': false, 'slug2': menu['parent'].slug } %}
            {% endif %}
        </li>
    {% endfor %}

    {% if (login) %}
        <li>
            <a href="{{ path('fos_user_security_login') }}">Login</a>
        </li>
    {% endif %}
</ul>