{% extends "MyCMSBundle:CMSFrontend:layout.html.twig" %}

{% block keywords %}
    {{ meta.SEOData.keyword|default(parent()) }}
{% endblock keywords %}

{% block description %}
    {{ meta.SEOData.description|default(parent()) }}
{% endblock description %}

{% block title %}
    {{ meta.SEOData.title|default(parent()) }}
{% endblock title %}

{% block body %}
    {{ render(controller('MyCMSBundle:CMSFrontend:component', {
        'slug'    : 'cookie',
        'template': 'MyCMSBundle:CMSFrontend:_cookie.html.twig'
    })) }}

    <div id="top">
        <div class="container">
            <div id="logo">
                <a href="{{ path('localized_frontend', { 'locale': locale }) }}">
                    <img src="{{ asset('template/fresh-style/images/logo.png') }}" alt="logo" />
                </a>
            </div>

            {% include 'MyCMSBundle:CMSFrontend:_language.html.twig' with { 'languages': languages, 'locale': locale } %}
        </div>
    </div>

    <div id="main_menu">
        <div class="container">
            {% if menus['Main'] is defined %}
                {% include 'MyCMSBundle:CMSFrontend:_menu.html.twig' with { 'menus': menus['Main'], 'locale': locale, 'home': true } %}
            {% endif %}

            {% include 'MyCMSBundle:CMSFrontend:_search.html.twig' with { 'locale': locale } %}
        </div>
    </div>

    {{ render(controller('MyCMSBundle:CMSFrontend:component', {
        'slug'    : 'baner',
        'template': 'MyCMSBundle:CMSFrontend:_baner.html.twig'
    })) }}

    {% include 'MyCMSBundle:CMSFrontend:_news_container.html.twig' %}

    {{ render(controller('MyCMSBundle:CMSFrontend:component', {
        'slug'    : 'linki',
        'template': 'MyCMSBundle:CMSFrontend:_link.html.twig'
    })) }}

    {% include 'MyCMSBundle:CMSFrontend:_footer.html.twig' with { 'menus': menus, 'locale': locale } %}
{% endblock body %}