{% extends "MyCMSBundle:CMSFrontend:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('template/fresh-style/css/article.css') }}">
{% endblock stylesheets %}

{% block keywords %}
    {{ meta.SEOData.keyword|default(parent()) }}
{% endblock keywords %}

{% block description %}
    {{ meta.SEOData.description|default(parent()) }}
{% endblock description %}

{% block title %}
    {{ meta.SEOData.title|default(parent()) }}
{% endblock title %}

{% block body %}
    {% if components['cookie'] is defined %}
        {% include 'MyCMSBundle:CMSFrontend:_cookie.html.twig' with { 'cookies': components['cookie'], 'locale': locale } %}
    {% endif %}

    <div id="top">
        <div class="container">
            <div id="logo">
                <a href="{{ path('localized_frontend', {'locale': locale}) }}">
                    <img src="{{ asset('template/fresh-style/images/logo.png') }}" alt="logo" />
                </a>
            </div>

            {% include 'MyCMSBundle:CMSFrontend:_language.html.twig' with { 'languages': languages, 'locale': locale } %}
        </div>
    </div>

    <div id="main_menu">
        <div class="container">
            {% if menus['Main'] is defined %}
                {% include 'MyCMSBundle:CMSFrontend:_menu.html.twig' with { 'menus': menus['Main'], 'locale': locale, 'home': true } %}
            {% endif %}

            {% include 'MyCMSBundle:CMSFrontend:_search.html.twig' with { 'locale': locale } %}
        </div>
    </div>

    <div id="search">
        <div class="container">
            <h2 class="header">Znalezione artykuły</h2>

            <ul>
            {% for article in articles %}
                <li><a href="{{ path('article', {'locale': locale, 'slug': article.slug}) }}">{{ article.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>

    {% if components['linki'] is defined %}
        {% include 'MyCMSBundle:CMSFrontend:_link.html.twig' with { 'links': components['linki'], 'locale': locale } %}
    {% endif %}

    {% include 'MyCMSBundle:CMSFrontend:_footer.html.twig' with { 'menus': menus, 'locale': locale } %}
{% endblock body %}