{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/sonatacore/vendor/moment/locale/pl.js') }}"></script>
    <script src="{{ asset('bundles/sonatacore/vendor/moment/locale/en-gb.js') }}"></script>
{% endblock %}

{% block sonata_page_content_nav %}
    {% if _tab_menu is not empty or _actions is not empty %}
        <nav class="navbar navbar-default" role="navigation">
            {% block tab_menu_navbar_header %}
                {{ parent() }}
            {% endblock %}
            <div class="container-fluid">
                <div class="navbar-left">
                    {% if _tab_menu is not empty %}
                        {{ _tab_menu|raw }}
                    {% endif %}
                </div>

                {% if _actions|replace({ '<li>': '', '</li>': '' })|trim is not empty %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown sonata-actions">
                            {% if _actions|split('<li>')|length == 2 %}
                                {{ _actions|raw }}
                            {% else %}
                                <a href="#" class="dropdown-toggle"
                                   data-toggle="dropdown">{{ 'link_actions'|trans({}, 'SonataAdminBundle') }} <b
                                            class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu">
                                    {{ _actions|raw }}
                                </ul>
                            {% endif %}
                        </li>
                    </ul>
                {% endif %}
            </div>
        </nav>
    {% endif %}
{% endblock sonata_page_content_nav %}