<li class="editable language">
	<a class="language"><i class="fa fa-flag"></i>Języki</a>
	<div class="submenu_left">
		<div class="edit">
			<button url="{{ path('my_cms_language_addlanguage') }}" class="new">Nowy</button>
			<button url="{{ path('my_cms_language_editlanguage') }}" class="edit">Edytuj</button>
			<button url="{{ path('my_cms_language_removelanguage') }}" class="remove">Usuń</button>
			<button url="{{ path('my_cms_language_changestate') }}" class="state">Stan</button>
		</div>
		<ul>
			{% for entity in entities %}
				<li>
					<a list_id="{{ entity.id }}">{{ entity.name }}</a>
					<span class="alias">{{ entity.alias }}</span>
					<div class="state {{ entity.isPublic ? 'active' : 'deactive' }}"></div>
				</li>
			{% endfor %}
		</ul>
	</div>
</li>