{% extends "MyCMSBundle:Frontend:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('template/fresh-style/css/article.css') }}">
{% endblock stylesheets %}

{% block keywords %}
    {{ article.SEOData.keyword|default(parent()) }}
{% endblock keywords %}

{% block description %}
    {{ article.SEOData.description|default(parent()) }}
{% endblock description %}

{% block title %}
    {{ article.SEOData.title|default(parent()) }}
{% endblock title %}

{% block body %}
    {{ parent() }}

    {{ render(controller('MyCMSBundle:Frontend:component', {
        'slug'    : 'cookie',
        'template': 'MyCMSBundle:Frontend:_cookie.html.twig'
    })) }}

    <div id="top">
        <div class="container">
            <div id="logo">
                <a href="{{ path('localized_frontend', { 'locale': locale }) }}">
                    <img src="{{ asset('template/fresh-style/images/logo.png') }}" alt="logo" />
                </a>
            </div>

            {% include 'MyCMSBundle:Frontend:_topmenu.html.twig' with { 'languages': languages, 'locale': locale } %}
        </div>
    </div>

    <div id="main_menu">
        <div class="container">
            {{ render(controller('MyCMSBundle:Frontend:menu', {
                'slug': 'Main',
                'home': true
            })) }}

            {% include 'MyCMSBundle:Frontend:_search.html.twig' with { 'locale': locale } %}
        </div>
    </div>

    <div id="article">
        <div class="container">
            <h2 class="header">{{ article.name }}</h2>
            <h3 class="datetime">{{ article.createdAt|format_datetime('dd MMM Y H:m') }}</h3>

            {{ article.content|raw }}
        </div>
    </div>

    {{ render(controller('MyCMSBundle:Frontend:component', {
        'slug'    : 'linki',
        'template': 'MyCMSBundle:Frontend:_link.html.twig'
    })) }}

    {% include 'MyCMSBundle:Frontend:_footer.html.twig' %}
{% endblock body %}