{% extends "MyCMSBundle:Frontend:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('template/fresh-style/css/article.css') }}">
{% endblock stylesheets %}

{% block keywords %}
    {{ article.SEOData.keyword|default(parent()) }}
{% endblock keywords %}

{% block description %}
    {{ article.SEOData.description|default(parent()) }}
{% endblock description %}

{% block title %}
    {{ article.SEOData.title|default(parent()) }}
{% endblock title %}

{% block body %}
    {{ parent() }}

    <div id="article">
        <div class="container">
            <h2 class="header">{{ article.name }}</h2>
            <h3 class="datetime">{{ article.createdAt|format_datetime('dd MMM Y H:m') }}</h3>

            {{ article.content|raw }}

            {% include 'FOSCommentBundle:Thread:async.html.twig' with { 'id': article.id } %}
        </div>
    </div>

    {{ render(controller('MyCMSBundle:Frontend:component', {
        'slug'    : 'linki',
        'template': 'MyCMSBundle:Frontend:_link.html.twig'
    })) }}

    {% include 'MyCMSBundle:Frontend:_footer.html.twig' %}
{% endblock body %}