{% extends "MyCoreBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
        '@MyCMSBundle/Resources/public/css/article.css'
        filter='less,cssrewrite,uglifycss'
        output='css/article.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('template/fresh-style/css/main.css') }}">
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@MyCMSBundle/Resources/public/js/cookies.js'
        filter="uglifyjs2"
        output='js/frontend.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ asset('template/fresh-style/js/jquery.slides.min.js') }}"></script>
    <script src="{{ asset('template/fresh-style/js/main.js') }}"></script>
{% endblock javascripts %}

{% block body %}
    {{ parent() }}

    {{ render(controller('MyCMSBundle:Frontend:component', {
        'slug'    : 'cookie',
        'template': 'MyCMSBundle:Frontend:_cookie.html.twig'
    })) }}

    <div id="top">
        <div class="container">
            <div id="logo">
                <a href="{{ path('localized_frontend', {'locale': locale}) }}">
                    <img src="{{ asset('template/fresh-style/images/logo.png') }}" alt="logo" />
                </a>
            </div>

            {% include 'MyCMSBundle:Frontend:_topmenu.html.twig' %}
        </div>
    </div>

    <div id="main_menu">
        <div class="container">
            {{ render(controller('MyCMSBundle:Frontend:menu', {
                'slug': 'Main',
                'home': true
            })) }}

            {{ render(controller('MyCMSBundle:Frontend:search')) }}
        </div>
    </div>
{% endblock body %}