<li class="editable language">
	<a class="language">Języki</a>
	<div class="submenu_left">
		<div class="edit">
			<button url="{{ path('cms_language_new') }}" class="new">Nowy</button>
			<button url="{{ path('cms_language_edit') }}" class="edit disable">Edytuj</button>
			<button url="{{ path('cms_language_remove') }}" class="remove disable">Usuń</button>
		</div>
		<ul>
			<li class="selected"><a list_id="0">Wszystkie</a></li>
			{% for entity in entities %}
				<li><a list_id="{{ entity.id }}">{{ entity.name }}</a></li>
			{% endfor %}
		</ul>
	</div>
</li>