{% extends "ApplicationSonataUserBundle:Profile:action.html.twig" %}

{% block sonata_page_breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('page') }}">Homepage</a></li>
        <li><a href="{{ path('sonata_user_profile_show') }}">Profile</a></li>
        <li class="active">Edit profile</li>
    </ol>
{% endblock %}

{% block sonata_profile_content %}

    {{ form_errors(form) }}

    <form action="{{ path('sonata_user_profile_edit') }}" method="POST" class="form-horizontal">
        <fieldset>
            <legend>{{ "title_user_account" | trans({}, 'SonataUserBundle')}}</legend>

            {{ form_widget(form) }}
            <div class="form-actions">
                <button type="submit" name="submit"  class="btn btn-primary pull-right">{{ 'sonata_user_submit'|trans({}, 'SonataUserBundle') }}</button>
            </div>
        </fieldset>
    </form>
{% endblock %}