<ul>
    {% if home %}
        <li>
            <a href="{{ path('localized_page', { 'locale': app.request.locale }) }}">Home</a>
        </li>
    {% endif %}
    {% for entity in menu %}
        <li class="{{ entity.activeChildren | length > 0 ? 'has_submenu' : '' }}">
            <a {{ entity.isNewPage ? 'target="_blank"' : '' }}
                    href="
                    {% if entity.typeOfLink == constant('AppBundle\\Entity\\Menu::ARTICLE_LINK') %}
                        {{ path('article', { 'locale': app.request.locale, 'slug': entity.article.slug }) }}
                    {% elseif entity.typeOfLink == constant('AppBundle\\Entity\\Menu::STRING_LINK') %}
                        {{ entity.url }}
                    {% endif %}
                        ">{{ entity }}</a>

            {% if entity.activeChildren | length > 0 %}
                {% include ':Block:menu.html.twig' with { 'menu': entity.activeChildren, 'home': false } %}
            {% endif %}
        </li>
    {% endfor %}
</ul>