<div class="qtip-titlebar">
    <div id="qtip-{{ entity.id }}-title" class="qtip-title" aria-atomic="true">{{ entity }}</div>
</div>
<div id="qtip-{{ entity.id }}-content" class="qtip-content" aria-atomic="true">
    <img src="{{ asset('uploads/' ~ entity.path) }}" width="150" alt="{{ entity }}" />
</div>