<table>
    <thead>
        <tr>
            <th class="select"></th>
            <th class="lp">Lp.</th>
            <th column="a.name" class="name width_big">Nazwa</th>
            <th column="a.size" class="width_small">Rozmiar</th>
            <th column="a.mimeType" class="width_small">Typ</th>
            <th column="a.createdAt" class="width_small">Data utworzenia</th>
        </tr>
    </thead>
    <tbody>
    {% if page > 1 %}
        {% set i = ((page-1)*rowsOnPage) %}
    {% else %}
        {% set i = 0 %}
    {% endif %}
    {% for entity in entities %}
    {% set i = i+1 %}
        <tr list_id="{{ entity.id }}">
            <td class="select"><input type="checkbox" class="multi_check" /></td>
            <td class="lp">{{ i }}.</td>
            <td class="width_big name"><a class="editMode" href="{{ path('file_edit', { 'id': entity.id }) }}">{{ entity }}</a></td>
            <td class="width_small">{{ entity.size|number_format(0, '.', ' ') }}</td>
            <td class="width_small">{{ entity.mimeType }}</td>
            <td class="width_small">{{ entity.createdAt|date('Y-m-d') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>