{% if entities is not empty %}
    <div class="col-xs-12 col-sm-6 col-md-4">
        <h3>{{ entities.title }}</h3>

        {% for news in entities.entities %}
            <div class="media">
                <div class="media-left">
                    <a href="{{ path('article', { 'slug': news.adres.slug }) }}">
                        {% if is_media_exist(news.fotografia, 'news') %}
                            <img src="{% path news.fotografia, 'news' %}" class="media-object" alt="" />
                        {% else %}
                            <img src="http://dummyimage.com/103x113/bcbcbc/000000" class="media-object" alt="" />
                        {% endif %}
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="{{ path('article', { 'slug': news.adres.slug }) }}">
                            {{ news.nazwa }}
                        </a>
                        <small class="date">{{ news.created_at | format_datetime('dd MMM Y HH:mm') }}</small>
                    </h4>
                    <p>{{ news.tresc }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}