{% extends ":Page:layout.html.twig" %}

{% block body %}
    {{ parent() }}

    <div id="search">
        <div class="container">
            <div class="search-result">
                <div class="page-header">
                    <h3>Znalezione pozycje - {{ entities|length }}</h3>
                </div>

                <ul>
                {% for entity in entities %}
                    <li><a href="{{ path('article', {'locale': app.request.locale, 'slug': entity.slug}) }}">{{ entity }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    {{ sonata_block_render({ "type": 'app.block.component', 'settings': {'template': ':Page:_link.html.twig', 'slug': 'linki'} }) }}

    {% include ':Page:_footer.html.twig' %}
{% endblock body %}