{{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="dane_element_big">
        {{ form_row(form.metadata.title, { 'required': true ,'attr': { 'class': 'name' } }) }}
    </div>

    <div class="dane_element_big">
        {{ form_row(form.metadata.description) }}
    </div>

    <div class="dane_element_big">
        {{ form_row(form.metadata.keyword) }}
    </div>

{{ form_end(form) }}