{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block preview %}
    <ul class="nav nav-pills">
        <li><a><strong>Category</strong></a></li>
        {% for category in categories %}
            {% if category.id == app.request.query.get('category') %}
                <li class="active">
                    <a href="{{ admin.generateUrl('list', {"category": category.id}) }}">{{ category.name }}</a>
                </li>
            {% else %}
                <li>
                    <a href="{{ admin.generateUrl('list', {"category": category.id}) }}">{{ category.name }}</a>
                </li>
            {% endif %}
        {% endfor %}
        <li {{ app.request.query.get('category') == null ? 'class="active"' : "" }}><a
                    href="{{ admin.generateUrl('list', {"category": null}) }}">{{ "All" }}</a></li>
    </ul>
{% endblock %}