{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block preview %}
    <ul class="nav nav-pills">
        <li><a><strong>{{ admin.trans('Layout') }}</strong></a></li>
        {% for layout in layouts %}
            {% if layout.type == app.request.query.get('layout') %}
                <li class="active">
                    <a href="{{ admin.generateUrl('list', {"layout": layout.id}) }}">{{ layout.StringType }}</a>
                </li>
            {% else %}
                <li>
                    <a href="{{ admin.generateUrl('list', {"layout": layout.id}) }}">{{ layout.StringType }}</a>
                </li>
            {% endif %}
        {% endfor %}
        <li {{ app.request.query.get('layout') == null ? 'class="active"' : "" }}><a
                    href="{{ admin.generateUrl('list', {"layout": null}) }}">{{ admin.trans('All') }}</a></li>
    </ul>
{% endblock %}