{% trans_default_domain 'FOSUserBundle' %}

<div id="login_container">
    {% if invalid_username is defined %}
        <div class="error_list">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</div>
    {% endif %}

    <div id="login">
        <form action="{{ path("fos_user_resetting_send_email") }}" method="POST">
            <label for="_submit">{{ 'resetting.request.username'|trans }}</label>
            <input type="text" id="username" name="username" />

            <div id="submit_container">
                <input type="submit" id="_submit" name="_submit" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>
        </form>
    </div>

    <ul class="links">
        <li><a href="{{ path("fos_user_security_login") }}">Wróć na stronę logowania</a></li>
        <li><a href="{{ path("page") }}">Wróć na stronę główną</a></li>
    </ul>
</div>
