{% extends "::base.html.twig" %}

{% block title %}
	PureThink - Login
{% endblock title %}

{% block stylesheets %}
	{{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/purethink.css') }}">
{% endblock stylesheets %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/helper.js') }}"></script>
	<script src="{{ asset('js/login.js') }}"></script>
{% endblock javascripts %}

{% block body %}
	<div id="top_menu">
    	<div id="logo">
			<a href="{{ path('frontend') }}"><img src="{{ asset('images/logo_small.png') }}" alt="logo" /></a>
		</div>
	</div>

	<div id="login_container">
		<div id="login">
			{% if error %}
				<div class="error_list">{{ error|trans({}, 'FOSUserBundle') }}</div>
			{% endif %}

			<form action="{{ path("fos_user_security_check") }}" method="post">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

				<input class="name" type="text" id="username" name="_username" placeholder="Login ID" value="{{ last_username }}" />
				<input type="password" id="password" name="_password" placeholder="Password" />

				<div id="remember_me_container">
					<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
					<label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
				</div>

				<div id="submit_container">
					<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
				</div>
			</form>

			{% for key, message in app.session.flashbag.all() %}
			    <div class="{{ key }}">
			    	{{ message|trans({}, 'FOSUserBundle') }}
			    </div>
			{% endfor %}
		</div>

		<a id="resetting" href="{{ path("fos_user_resetting_request") }}">Zgubiłeś swoje hasło?</a>
	</div>
{% endblock body %}