{% extends "PurethinkCMSBundle:Page:layout.html.twig" %}

{% block body %}
    {{ parent() }}

    {{ component['position-9']|raw }}

    <div id="top">
        <div class="container">
            <div id="logo">
                <a href="{{ path('localized_page', {'locale': app.request.locale}) }}">
                    <img src="{{ asset('template/purethink-standard/images/logo.png') }}" alt="logo" />
                </a>
            </div>

            {% include template.scriptPath~':_topmenu.html.twig' %}
        </div>
    </div>

    <div id="main_menu">
        <div class="container">
            {{ component['position-2']|raw }}

            {% include template.scriptPath~':_search.html.twig' %}
        </div>
    </div>
{% endblock body %}