{% extends template.scriptPath~":layout.html.twig" %}

{% block body %}
    {{ parent() }}

    <div id="search">
        <div class="container">
            <div class="search-result">
                <div class="page-header">
                    <h3>Znalezione pozycje - {{ entities|length }}</h3>
                </div>

                <ul>
                {% for entity in entities %}
                    <li><a href="{{ path('article', {'locale': app.request.locale, 'category': entity.category, 'slug': entity.slug}) }}">{{ entity }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    {{ component['position-5']|raw }}

    {% include template.scriptPath~':_footer.html.twig' %}
{% endblock body %}