<div class="header">
    <h2>Importuj dane</h2>
</div>

<div class="container">
    <form action="{{ path(route) }}" method="post" {{ form_enctype(form) }}>

        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="dane_element">
            {{ form_label(form.file) }}
            {{ form_widget(form.file) }}
            <div class="input_file"></div>
            <button class="browse">Przeglądaj</button>
            {{ form_errors(form.file) }}
        </div>

        {{ form_end(form) }}

    </form>
</div>