<table class="list">
    <thead>
        <tr>
            <th class="select"></th>
            <th class="lp">Lp.</th>
            <th column="a.name" class="name width_small">Nazwa</th>
            <th column="a.slug" class="width_small">Adres</th>
            <th column="a.isMainField" class="width_small">Domyślne</th>
            <th column="ct.name" class="width_big">Typ</th>
        </tr>
    </thead>
    <tbody>
    {% if page > 1 %}
        {% set i = ((page-1)*rowsOnPage) %}
    {% else %}
        {% set i = 0 %}
    {% endif %}
    {% for entity in entities %}
    {% set i = i+1 %}
        <tr list_id="{{ entity.id }}">
            <td class="select"><input type="checkbox" class="multi_check" /></td>
            <td class="lp">{{ i }}.</td>
            <td class="width_small name"><a class="editMode" href="{{ path('my_cms_componenthascolumn_edit', { 'id': entity.id }) }}">{{ entity }}</a></td>
            <td class="width_small">{{ entity.slug }}</td>
            <td class="width_small state">
                {% if entity.isMainField %}
                    <i class="fa fa-check"></i>
                {% else %}
                    <i class="fa fa-ban"></i>
                {% endif %}
            </td>
            <td class="width_big">{{ entity.columnTypeString }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>