<table>
    <thead>
        <tr>
            <th class="select"></th>
            <th class="lp">Lp.</th>
            <th column="a.name" class="name width_big">Nazwa</th>
            <th column="a.isPublic" class="width_small">Aktywne</th>
        </tr>
    </thead>
    <tbody>
    {% if page > 1 %}
        {% set i = ((page-1)*rowsOnPage) %}
    {% else %}
        {% set i = 0 %}
    {% endif %}
    {% for entity in entities %}
    {% set i = i+1 %}
        <tr list_id="{{ entity.id }}">
            <td class="select"><input type="checkbox" class="multi_check" /></td>
            <td class="lp">{{ i }}.</td>
            <td class="width_big name"><a class="editMode" href="{{ path('cmsmenu_edit', { 'id': entity.id }) }}">{{ entity }}</a></td>
            <td class="width_small state">
                {% if entity.isPublic %}
                    <img class="active" src="{{ asset('images/active.png') }}" alt="active" />
                {% else %}
                    <img class="deactive" src="{{ asset('images/deactive.png') }}" alt="deactive" />
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>