{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'knp_menu.html.twig' %}

{% block list %}
    {% import 'knp_menu.html.twig' as macros %}
    {% if item.hasChildren and options.depth is not sameas(0) and item.displayChildren %}
        <ul class="nav nav-sidebar">
            {{ block('children') }}
        </ul>
    {% endif %}
{% endblock %}

{% block item %}
    {% import 'knp_menu.html.twig' as macros %}
    {% if item.displayed %}
        {# building the class of the item #}
        {%- set classes = [] %}
        {%- if item.current %}
            {%- set classes = options.currentClass %}
        {%- endif %}
        {%- set attributes = [] %}
        {%- if classes is not empty %}
            {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
        {%- endif %}
        {# displaying the item #}
        {{ block('linkElement') }}
    {% endif %}
{% endblock %}

{% block linkElement %}
    <li {{ macros.attributes(attributes) }}><a href="{{ item.uri }}">{{ block('label') }}</a></li>
{% endblock %}