{{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="dane_element">
        {{ form_row(form.name) }}
    </div>

    <div class="dane_element">
        {{ form_row(form.typeOfField) }}
    </div>

    <div class="dane_element">
        {{ form_row(form.labelOfField) }}
    </div>

    <div class="dane_element">
        {{ form_row(form.class) }}
    </div>

    <div class="dane_element">
        {{ form_row(form.isRequired) }}
    </div>

{{ form_end(form) }}