<div class="article">
    <div class="page-header">
        <h3>{{ article.name }}</h3>
        <h5 class="datetime">{{ article.created|format_datetime('dd MMM Y HH:mm') }}</h5>

        {% if (article.tags|length > 0) %}
            <div class="tags">
                {% for tag in article.tags %}
                    <span class="label label-{{ tag.slug }}">{{ tag }}</span>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {{ article.content|raw }}

    {{ sonata_block_render_event('sonata.comment', { 'id': article.id }) }}
</div>