{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@MyBackendBundle/Resources/public/less/purethink.less'
        filter='less,cssrewrite,uglifycss'
        output='css/login.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock stylesheets %}

{% block javascripts %}
    {% javascripts
        '@jquery'
        '@helper'
        '@MyUserBundle/Resources/public/js/*'
        filter="uglifyjs2"
        output='js/login.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}

{% block body %}
    <div id="top_menu">
        <div id="logo">
            <a href="{{ path('frontend') }}"><img src="{{ asset('images/logo_small.png') }}" alt="logo" /></a>
        </div>
    </div>
{% endblock body %}