{% for new in news %}
    <a href="{{ path('article', { 'locale': locale, 'slug': new['adres-2'] }) }}" class="news">
        <div class="image">
            <img src="{{ asset('uploads/' ~ new['fotografia-1']) }}" alt="" />
        </div>
        <div class="content">
            <h4>{{ new['nazwa-2'] }}</h4>
            <span class="date">{{ new['createdAt']|date('Y-m-d') }}</span>
            <p>{{ new['tresc'] }}</p>
        </div>
    </a>
{% endfor %}