{% extends "MyFrontendBundle:Default:layout.html.twig" %}

{% block keywords %}
    {% if meta %}
        {{ meta.keywords }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock keywords %}

{% block description %}
    {% if meta %}
        {{ meta.description }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock description %}

{% block title %}
    {% if meta and meta.name != '' %}
        {{ meta.name }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock title %}

{% block body %}
    {% if components['cookie'] is defined %}
        {% include 'MyFrontendBundle:Default:_cookie.html.twig' with { 'cookies': components['cookie'], 'locale': locale } %}
    {% endif %}

    <div id="top">
        <div class="container">
            <div id="logo">
                <a href="{{ path('localized_frontend', { 'locale': locale }) }}">
                    <img src="{{ asset('template/fresh-style/images/logo.png') }}" alt="logo" />
                </a>
            </div>

            {% include 'MyFrontendBundle:Default:_language.html.twig' with { 'languages': languages, 'locale': locale } %}
        </div>
    </div>

    <div id="main_menu">
        <div class="container">
            {% if menus['Main'] is defined %}
                {% include 'MyFrontendBundle:Default:_menu.html.twig' with { 'menus': menus['Main'], 'locale': locale, 'home': true } %}
            {% endif %}

            {% include 'MyFrontendBundle:Default:_search.html.twig' with { 'locale': locale } %}
        </div>
    </div>

    {% if components['baner'] is defined %}
        {% include 'MyFrontendBundle:Default:_baner.html.twig' with { 'baners': components['baner'], 'locale': locale } %}
    {% endif %}

    {% include 'MyFrontendBundle:Default:_news_container.html.twig' with { 'components': components, 'locale': locale } %}

    {% if components['linki'] is defined %}
        {% include 'MyFrontendBundle:Default:_link.html.twig' with { 'links': components['linki'], 'locale': locale } %}
    {% endif %}

    {% include 'MyFrontendBundle:Default:_footer.html.twig' with { 'menus': menus, 'locale': locale } %}
{% endblock body %}