{% trans_default_domain 'FOSUserBundle' %}

<div id="top_menu">
    <div id="logo">
        <a href="{{ path('frontend') }}"><img src="{{ asset('images/logo_small.png') }}" alt="logo" /></a>
    </div>
</div>

<div id="login_container">
    <div class="error_list">{{ form_errors(form.plainPassword.first) }}</div>

    <div id="login">
        <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST">
            {{ form_widget(form._token) }}

            {{ form_label(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first) }}

            {{ form_label(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second) }}

            <div id="submit_container">
                <input type="submit" id="_submit" value="{{ 'resetting.reset.submit'|trans }}" />
            </div>
        </form>

        {% for key, message in app.session.flashbag.all() %}
            <div class="{{ key }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    </div>

    <ul class="links">
        <li><a href="{{ path("fos_user_security_login") }}">Wróć na stronę logowania</a></li>
        <li><a href="{{ path("frontend") }}">Wróć na stronę główną</a></li>
    </ul>
</div>